# Setup for local docker client
export TARGET_NODE=node-1
export TARGET_NODE_IP=$(docker-machine ip ${TARGET_NODE})

# Setup of the infrastructure
# export DOMAIN=<domain to deploy the infrastructure>
# export REGISTRY=<your registry>

# Setup of the monitoring stack
# export GITHUB_ORGS=<coma separated list of github orgs to watch>
# export DOCKER_HUB_ORGS=<coma separated list of docker hub orgs to watch>
